## This file should be installed with pip before running the attached script.
## Not all programs here are required to run the script, but go ahead and install them anyway. No reason not to, in my opinion.
## Install by running:
## pip install -r requirements.txt

# These are required to run the program at all, currently. Future updates may make some of these optional, but they should still be installed nonetheless for full compatability.
ffmpeg-python
tomlkit
tinydb

# These are required to run the videos setup script. If you're planning on using that script, make sure to install these.
pymediainfo

# These are only required for specific sites.
tweepy          	# Twitter
pytumblr        	# Tumblr
Mastodon.py     	# Mastodon
cohost				# Cohost
atproto == 0.0.30	# Bluesky